:root {
  --creative-icon-size: 4rem;
}

.homepage-head-section-boxes-wrapper {
  margin-bottom: 30px;
}

.homepage-head-section-box-title {
  margin-top: 0;
  margin-bottom: 0;
}

.homepage-head-section-box-desc {
  margin-bottom: 0;
}

.homepage-big-ideas-section {
  margin-top: 45px;
  margin-bottom: 60px;
}

.big-idea-wrapper {
  margin: 20px 0;
  gap: 0 25px;
}

.big-idea-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.075rem;
}

.big-idea-desc {
  margin-top: 8px;
  margin-bottom: 0;
}

.homepage-join-us-section {
  margin-bottom: 20px;
}

.creative .creative-icon-wrapper {
  min-height: var(--creative-icon-size);
}

.creative .creative-icon {
  font-size: var(--creative-icon-size);
}

#site-footer * {
  text-align: center;
  justify-content: center;
}

.mb-5px {
  margin-bottom: 5px;
}

.homepage-prose {
  max-width: 125ch !important;
}

span.absolute.not-prose > a {
  display: none;
}

@media (max-width: 853px) {
  .big-idea-title {
    margin-top: 15px;
    line-height: 128%;
  }

  .big-idea-desc {
    text-align: left;
  }
}

@media (min-width: 853px) {
  .creative {
    max-width: 40%;
  }

  .flip-flop-big-idea-article .creative {
    order: 2;
  }

  .big-idea-title {
    margin-bottom: 15px;
  }

  .homepage-big-ideas-left-text-align {
    text-align: left;
  }
}
