:root {
  --creative-icon-size: 4rem;
  --bg-color-light: #fdfdfd;
  --bg-color-dark: #27272a;
  --secret-sauce-color: #c5e8ed;
}

html:not(.dark) body {
  background-color: var(--bg-color-light) !important;
}

html.dark body {
  background-color: var(--bg-color-dark) !important;
}

html.dark *.prose a:not([role="button"]) {
  color: var(--secret-sauce-color) !important;
}

html:not(.dark) *.prose a[role="button"] {
  color: white !important;
}

html:not(.dark) code {
  color: var(--tw-prose-links) !important;
}

.homepage-bg {
  min-height: 100vh;
  bottom: 20vw;
}

.homepage-head-box {
  width: fit-content;
  margin: auto;
  color: white !important;
}

.homepage-head-box span > strong {
  color: white !important;
}

.homepage-head-section-boxes-wrapper {
  margin-bottom: 30px;
  margin-top: 1rem;
}

.homepage-head-section-box-title {
  margin-top: 0;
  margin-bottom: 0;
}

.homepage-head-section-box-desc {
  margin-bottom: 0;
}

.homepage-big-ideas-section {
  margin-top: 45px;
  margin-bottom: 73px;
}

.big-idea-wrapper {
  margin: 20px 0;
  gap: 0 25px;
}

.big-idea-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.075rem;
}

.big-idea-desc {
  margin-top: 8px;
  margin-bottom: 0;
}

.homepage-join-us-section {
  margin-bottom: 20px;
}

.creative .creative-icon-wrapper {
  min-height: var(--creative-icon-size);
}

.creative .creative-icon {
  font-size: var(--creative-icon-size);
}

.homepage-last-cta-h3 {
  line-height: 120%;
}

#site-footer * {
  text-align: center;
  justify-content: center;
}

.mt-10px {
  margin-top: 10px;
}

.homepage-prose {
  max-width: 125ch !important;
}

span.absolute.not-prose > a {
  display: none;
}

.logo {
  padding: 3px;
}

.text-white {
  color: white;
}

@media (hover: hover) {
  #site-footer a {
    text-decoration-color: transparent !important;
    border-bottom: 2px solid transparent !important;
    transition-delay: 250ms;
    transition: all 850ms !important;
  }

  #site-footer a:hover {
    text-decoration-color: transparent !important;
    border-bottom: 2px solid var(--secret-sauce-color) !important;
  }
}

@media (max-width: 1150px) {
  .homepage-bg {
    min-height: 100lvh;
    bottom: 7lvh;
  }
}

@media (max-width: 853px) {
  .big-idea-title {
    margin-top: 15px;
    line-height: 128%;
  }

  .big-idea-desc {
    text-align: left;
  }
}

@media (min-width: 853px) {
  .creative {
    max-width: 40%;
  }

  .flip-flop-big-idea-article .creative {
    order: 2;
  }

  .big-idea-title {
    margin-bottom: 15px;
  }

  .homepage-big-ideas-left-text-align {
    text-align: left;
  }
}
