{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="max-w-full">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
        <div class="max-w-full p-0">
            <div class="relative sm:overflow-hidden">
                <div class="fixed inset-x-0 top-0" style="z-index:-10; opacity: 0.25;">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.defaultBackgroundImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ with .Site.Params.homepage.homepageImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="w-full relative object-cover m-0 nozoom homepage-bg" src="{{ $homepageImage.RelPermalink }}" role="presentation" alt="">
                    {{ end }}
                </div>
                <div class="w-full relative px-1 py-1 flex flex-col items-center justify-center text-center">
                    <section class="prose dark:prose-invert homepage-prose">{{ .Content }}</section>
                </div>
            </div>
        </div>
    </div>
</article>
<section>
    {{ partial "recent-articles/main.html" . }}
</section>
{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
<script>
    window.addEventListener('scroll', function (e) {
        var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var background_blur = document.getElementById('background-blur');
        background_blur.style.opacity = (scroll / 300)
    });
</script>
{{ end }}
